.header-bg {
  background: var(--darkblue);
}

.header {
  display: flex;
  align-items: center; 
  align-content: center;
  flex-flow: column-reverse;
  min-height: 64px;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .header {
    flex-flow: row;
    min-height: 56px;
    justify-content: space-between;
  }
}

.header-options > li {
  margin-right: 16px;
}

.header-options > li > a {
  color: var(--smkwhite);
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
}

.header-options .active { 
  font-weight: 800;
}

@media (max-width: 768px) {

  .header > section {
    align-self: flex-end;
  }
}


.header-icon {
  cursor: pointer;
}

.header-icon, .search {
  margin-right: 16px;
}